/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* Recipe Diaryへようこそ */
.title-contents {
  position: relative;
  color: white;
}

.top-image {
  width: 100%;
  height: 60%;
}

.service-title {
  position: absolute;
  font-size: 50px;
  top: 20%;
  left: 2%;
}

.service-explain-a {
  position: absolute;
  font-size: 20px;
  top: 40%;
  left: 2%;
}

.service-explain-b {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 2%;
}

.service-explain-c {
  position: absolute;
  font-size: 20px;
  top: 60%;
  left: 2%;
}

/* レシピ一覧 */
.recipe-contents {
  background-color: white;
}

.recipe-content{
  height: 450px;
  margin: 0 50px;
}

.heading-name{
  text-align: center;
  border-bottom: 1px solid red;
  width: 200px;
  margin: 40px auto;
}
.all-recipe{
  display: flex;
  background-color: white;
  justify-content: space-around;
  margin: 10px 10px;
}

.recipe-image {
  width: 33vh;
  height: 33vh;
}

.recipe-name {
  font-size: 2.5vh;
  text-align: center;
}

