/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  position: relative;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* Recipe Diaryへようこそ */
.title-contents {
  position: relative;
  color: white;
}

.top-image {
  width: 100%;
  height: 60%;
}

.service-title {
  position: absolute;
  font-size: 50px;
  top: 20%;
  left: 2%;
}

.service-explain-a {
  position: absolute;
  font-size: 20px;
  top: 40%;
  left: 2%;
}

.service-explain-b {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 2%;
}

.service-explain-c {
  position: absolute;
  font-size: 20px;
  top: 60%;
  left: 2%;
}

/* レシピ一覧 */
.recipe-contents {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.recipe-index-content{
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.heading-name{
  text-align: center;
  border-bottom: 1px solid red;
  width: 200px;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.all-recipe{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  height: 70%;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 400px;
  margin-left: auto;
  margin-right: auto;
}

.recipe {
  width: 80%;
  height: 80%;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.recipe-link {
  text-decoration: none;
  color: black;
}

.recipe-link:hover {
  text-decoration: underline;
}

.recipe-image {
  width: 100%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.recipe-name {
  font-size: 2.5vh;
  text-align: center;
  text-decoration: inherit;
  color: #333333;
}

.recipe-message {
  font-size: 30px;
  position: absolute;
  top: 110%;
  left: 37%;
  color: gray;
}
