<header>
  <div class="heading">
    <h1 class="title">Recipe DIARY</h1>
  </div>
  <div class="search-form">
    <ul class="search-box">
      <li>検索したい料理名入力欄</li>
      <li>検索</li>
    </ul>
  </div>
  <div class="navbar">
    <ul class="nav-lists">
      <li>新規登録</li>
      <li>ログイン</li>
    </ul>
  </div>
</header>