/* マイページ全体 */
.my-page-contents {
  width: 95vw;
  text-align: center;
  margin: 0 auto;
}

/* ユーザー登録情報 */
.account-content {
  height: 40%;
  display: flex;
  margin: 120px;
}

/* イメージ画像 */
.account-box {
  width: 50%;
  float: left;
}

.account-title {
  text-align: left;
  padding-left: 50px;
  font-size: 30px;
  font-weight: 600;
}

.account-image {
  float: left;
}

.account-icon {
  float: left;
  width: 250px;
  height: 250px;
}

/* ニックネームとメールアドレス */
.account-registration {
  width: 50%;
  padding: 0px 60px;
}

.account-basic-info {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

.basic-title {
  position: relative;
  margin-bottom: 70px;
  padding-bottom: .5em;
  font-size: 30px;
  font-weight: 600;
}

.edit-btn {
  padding: 20px 30px;
  margin-bottom: 50px;
  color: #fff;
  background-color: lightcoral;
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
}

.account-info {
  margin-top: 0;
}

.row {
  display: flex;
  padding-bottom: 20px;
}

.nickname {
  width: 50%;
  text-align: start;
}

.email {
  width: 50%;
  text-align: start;
}

.property {
  width: 50%;
  text-align: start;
}

/* ユーザーの投稿情報 */
.account-contents {
  height: 60%;
  width: 100%;
}

/* レシピと日記 */
.user-contents {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.account-recipe {
  width: 40%;
}

/* 共通 */
.content-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightcoral;
}

.content-name {
  text-align: start;
  padding-left: 25px;
}

.content-link {
  padding: 10px;
}

.move-link {
  vertical-align: middle;
  margin-right: 20px;
  color: lightcoral;
}

.recipe-main-content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.recipe-main-image {
  width: 200px;
  height: 200px;
  padding: 20px;
  background: #f5f5f5;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-recipe {
  color: lightcoral;
}

/* レシピ検索フォーム */
.recipe-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-input {
  padding: 5px;
  margin-right: 10px;
}

.recipe-send {
  padding: 5px;
  margin: 15px;
}

/* 日記 */
.account-diary {
  width: 40%;
}

.diary-main-content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.diary-main-image {
  width: 480px;
  height: 200px;
  padding: 20px;
  background: #f5f5f5;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-diary {
  color: lightcoral;
}

/* ユーザーが投稿したレシピ */
.my-recipe-contents {
  height: 50%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.account-my-recipe {
  height: 100%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.recipe-count {
  display: flex;
}

/* 投稿したレシピ */
.recipes-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  height: 70%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.recipe-wrap {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-recipe-image {
  width: 100%;
  height: 90%;
}

/* 投稿したレシピがない場合のサンプル */
.my-recipe-main {
  height: 70%;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.my-recipe-sample {
  height: 300px;
  width: 95%;
  margin-top: 15px;
  margin-bottom: 180px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}